	<div class="container">
		<p>
			&copy; <%= new Date().getFullYear() %> AJ's Blog App. All rights reserved.
		</p>

		<div>
			<a href="https://github.com/AjKadri" target="_blank" class="btn btn-outline-primary btn-sm me-2">
				<i class="bi bi-github"></i>
			</a>

			<a href="https://x.com/web3aj_" target="_blank" class="btn btn-outline-primary btn-sm me-2">
				<i class="bi bi-twitter-x"></i>
			</a>

			<a href="mailto:cryptoaj0007@gmail.com" target="_blank" class="btn btn-outline-primary btn-sm">
				<i class="bi bi-envelope"></i>
			</a>
		</div>
	</div>
