<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm sticky-top">

    <div class="container">

    <a class="navbar-brand fw-bold" href="/">
    <i class="bi bi-pencil-square"></i>
    AJ's Blog
    </a>

    <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbar">

    <span class="navbar-toggler-icon"></span>

    </button>

    <div class="collapse navbar-collapse" id="navbar">

    <ul class="navbar-nav ms-auto">

    <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
    </li>

    <li class="nav-item">
    <a class="nav-link" href="/compose">Write Post</a>
    </li>

    <li class="nav-item">
    <a class="nav-link" href="/posts">View Posts</a>
    </li>

    <li class="nav-item">
    <a class="nav-link" href="/contact">Contact</a>
    </li>

    </ul>

    </div>

    </div>

    </nav>